/*font-family: 'Baloo Bhaijaan 2', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Puppies Play', cursive*/

body{
    background-color: red;
    
}
h1{
    color: white;
    font-family: "Puppies Play", sans-serif;
}

